## Super basic EDA
The concern of this super basic EDA is to determine which order packages were delivered passed the shipping limit date. In other words, the idea is to identify orders where the seller did not deliver the package to the carrier prior to the designated limit that Olist placed on them to do so.

In [1]:
! ls

Untitled.ipynb          brazilian-ecommerce     brazilian-ecommerce.zip

In [2]:
import pandas as pd
import zipfile

zf = zipfile.ZipFile('brazilian-ecommerce.zip')

In [12]:
from zipfile import ZipFile

# Create a ZipFile Object and load sample.zip in it
with ZipFile('brazilian-ecommerce.zip', 'r') as zipObj:
    # Extract all the contents of zip file in current directory
    zipObj.extractall()

In [13]:
! ls

Untitled.ipynb                        olist_order_reviews_dataset.csv
brazilian-ecommerce                   olist_orders_dataset.csv
brazilian-ecommerce.zip               olist_products_dataset.csv
olist_customers_dataset.csv           olist_sellers_dataset.csv
olist_geolocation_dataset.csv         product_category_name_translation.csv
olist_order_items_dataset.csv         temp_csv
olist_order_payments_dataset.csv

In [33]:
import pandas as pd
 
df_items = pd.read_csv('olist_order_items_dataset.csv')
df_orders = pd.read_csv('olist_orders_dataset.csv')
df_products = pd.read_csv('olist_products_dataset.csv')

In [29]:
df_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [30]:
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [34]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [43]:
# Merge the seller id/shipping limit, order information, and product information
df = df_items.merge(df_orders, on='order_id').merge(df_products[['product_id', 'product_category_name']], 
                                                    on='product_id')

In [44]:
df.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'product_category_name'],
      dtype='object')

In [84]:
# Orders where the shipping deadline to the carrier was missed
df.loc[df.shipping_limit_date < df.order_delivered_carrier_date].head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,cool_stuff
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00,cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00,cool_stuff
9,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,pet_shop
15,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.9,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,ferramentas_jardim

In [48]:
df.groupby('order_status').count()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_category_name
order_status,,,,,,,,,,,,,,
approved,3,3,3,3,3,3,3,3,3,3,0,0,3,3
canceled,542,542,542,542,542,542,542,542,542,542,76,7,542,528
delivered,110197,110197,110197,110197,110197,110197,110197,110197,110197,110182,110195,110189,110197,108660
invoiced,359,359,359,359,359,359,359,359,359,359,0,0,359,347
processing,357,357,357,357,357,357,357,357,357,357,0,0,357,344
shipped,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,0,1185,1158
unavailable,7,7,7,7,7,7,7,7,7,7,0,0,7,7

In [62]:
# Setting up spark
import findspark
findspark.init()
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
conf = SparkConf().setMaster("local").setAppName("SparkSQL_NLP")
spark = SparkSession.builder.getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x1150fb470>

In [77]:
findspark

In [64]:
# Set sqlContext from the Spark context
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)

In [65]:
# Setup a Spark SQL context and read in the pandas dataframe to a Spark dataframe
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [66]:
spark = SparkSession.builder.getOrCreate()

# Load in csv file into spark dataframe
df_items = spark.read.format("csv") \
            .option("header", "true") \
            .option("inferSchema", "true") \
            .load("olist_order_items_dataset.csv")

df_orders = spark.read.format("csv") \
             .option("header", "true") \
             .option("inferSchema", "true") \
             .load("olist_orders_dataset.csv")

df_products = spark.read.format("csv") \
             .option("header", "true") \
             .option("inferSchema", "true") \
             .load("olist_products_dataset.csv")

In [67]:
# Create SQL Tables from dfs
df_items.createOrReplaceTempView('items')
df_orders.createOrReplaceTempView('orders')
df_products.createOrReplaceTempView('products')

In [69]:
# Basic SQL query
spark.sql('SELECT * FROM items LIMIT 0').columns

['order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value']

In [70]:
spark.sql('SELECT * FROM products LIMIT 0').columns

['product_id',
 'product_category_name',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm']

In [71]:
spark.sql('SELECT * FROM orders LIMIT 0').columns

['order_id',
 'customer_id',
 'order_status',
 'order_purchase_timestamp',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_delivered_customer_date',
 'order_estimated_delivery_date']

In [76]:
late_carrier_deliveries = spark.sql("""
SELECT i.order_id, i.seller_id, i.shipping_limit_date, i.price, i.freight_value,
       p.product_id, p.product_category_name, 
       o.customer_id, o.order_status, o.order_purchase_timestamp, o.order_delivered_carrier_date,
       o.order_delivered_customer_date, o.order_estimated_delivery_date
FROM items AS i
JOIN orders AS o
ON i.order_id = o.order_id
JOIN products AS p
ON i.product_id = p.product_id
WHERE i.shipping_limit_date < o.order_delivered_carrier_date
""")

In [79]:
late_carrier_deliveries.show(15)

+--------------------+--------------------+-------------------+------+-------------+--------------------+---------------------+--------------------+------------+------------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|           seller_id|shipping_limit_date| price|freight_value|          product_id|product_category_name|         customer_id|order_status|order_purchase_timestamp|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+-------------------+------+-------------+--------------------+---------------------+--------------------+------------+------------------------+----------------------------+-----------------------------+-----------------------------+
|05afef1c185862cab...|53e4c6e0f4312d4d2...|2017-07-31 11:03:10| 27.99|        22.67|ac7e981115ad47f0e...| utilidades_domest...|296de103322e463a1...|   delivered|     2017-07-25 10:47:16|         2017-07-31 15:49:35|          2017-08-21 21:10:53|          2017-09-04 00:00:00|
|05afef1c185862cab...|53e4c6e0f4312d4d2...|2017-07-31 11:03:10| 27.99|        22.67|ac7e981115ad47f0e...| utilidades_domest...|296de103322e463a1...|   delivered|     2017-07-25 10:47:16|         2017-07-31 15:49:35|          2017-08-21 21:10:53|          2017-09-04 00:00:00|
|0b93ff37e8344c601...|b19f3ca2ea4759137...|2018-08-02 11:05:18| 998.9|       222.38|be7af429d53adfab1...|            papelaria|41b40faae6aeea7a8...|   delivered|     2018-07-22 11:13:05|         2018-08-02 16:31:00|          2018-08-07 22:11:10|          2018-08-21 00:00:00|
|110fb617059394261...|9e6229250fedbe058...|2018-08-20 03:24:37| 169.9|        19.49|53a72a0b6feec4a5c...|                bebes|4e99e5342705c1e76...|     shipped|     2018-08-08 16:37:28|         2018-08-20 10:57:00|                         null|          2018-08-28 00:00:00|
|112a61419198a7ce9...|ffdd9f82b9a447f6f...|2018-04-11 17:09:50| 214.0|        70.89|55aec8e90307dc2a7...| utilidades_domest...|dad5e5f178c09543d...|   delivered|     2018-04-05 11:13:05|         2018-04-11 23:33:01|          2018-04-13 23:41:40|          2018-04-24 00:00:00|
|184f17bb701af22b8...|827f8f69dfa529c56...|2017-05-11 18:15:15|  29.9|         14.1|de4a736d3f2df1266...|     fashion_calcados|d6d1c551a52cf82ad...|   delivered|     2017-05-06 18:04:27|         2017-05-15 13:16:14|          2017-05-17 14:44:53|          2017-05-31 00:00:00|
|1c7b6d63329bdc850...|88460e8ebdecbfecb...|2018-04-19 13:31:39|  73.9|         7.87|ee57070aa3b24a06f...| informatica_acess...|2b8a8ed9920523186...|   delivered|     2018-04-13 12:59:58|         2018-04-26 12:59:00|          2018-04-27 19:22:00|          2018-04-26 00:00:00|
|235d0ef0d8ee3f66a...|213b25e6f54661939...|2018-08-03 03:55:19|119.85|        11.86|6f0169f259bb0ff43...|      casa_construcao|fa4bc396185415281...|   delivered|     2018-07-20 13:58:55|         2018-08-03 14:35:00|          2018-08-06 14:56:49|          2018-08-07 00:00:00|
|2b9c1a6934f2dd62c...|88460e8ebdecbfecb...|2018-02-15 20:55:49|  74.9|        12.65|e53e557d5a159f5aa...| informatica_acess...|82c5e6b98e498b415...|   delivered|     2018-02-10 20:46:25|         2018-02-21 10:19:22|          2018-02-28 21:49:02|          2018-03-14 00:00:00|
|3303092810c37e9ab...|cd843d4cf8ef32827...|2017-08-03 10:50:12| 469.0|        90.26|df872c596e00cd016...| moveis_cozinha_ar...|5db727761e58376d9...|   delivered|     2017-07-28 10:36:12|         2017-08-03 17:25:30|          2017-08-15 19:05:13|          2017-08-21 00:00:00|
|35f4b9d2da608b318...|88460e8ebdecbfecb...|2018-01-02 10:06:22| 109.9|        34.57|e53e557d5a159f5aa...| informatica_acess...|04b07985c482f53e0...|   delivered|     2017-12-26 09:49:11|         2018-01-11 23:49:29|          2018-01-24 00:33:55|          2018-01-26 00:00:00|
|38541d08d4eb7d571...|54965bbe3e4f07ae0...|2017-11-30 00:52:38|  69.9|        26.81|9d6c66334a27b9dcf...|      cama_mesa_banho|937682b4176cf634c...|     shipped|     2017-11-24 21:36:30|         2018-01-04 21:07:51|                         null|          2017-12-20 00:00:00|
|3e5d60bbe5a6016db...|0adac9fbd9a2b63cc...|2017-12-11 09:22:02|  10.9|        11.85|293637be1a5ab3bd1...| utilidades_domest...|46ec73876cebebf34...|   delivered|     2017-12-04 22:14:17|         2017-12-12 21:22:34|          2017-12-26 21:36:57|          2017-12-27 00:00:00|
|3f090361c1e3266bf...|c1849d4d32d7a6cec...|2018-08-10 11:50:23| 19.99|         8.89|39251fd407f6dc1db...|           automotivo|c892d1124348cf471...|   delivered|     2018-08-06 11:38:43|         2018-08-10 12:07:00|          2018-08-11 16:12:32|          2018-08-13 00:00:00|
|41537821ce113ccef...|b2ba3715d723d2451...|2017-12-18 04:09:14|  79.9|         9.37|8b8981e920b8a923f...| construcao_ferram...|0312590499e722678...|   delivered|     2017-12-11 13:56:03|         2017-12-18 21:33:03|          2017-12-20 17:29:03|          2017-12-28 00:00:00|
+--------------------+--------------------+-------------------+------+-------------+--------------------+---------------------+--------------------+------------+------------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 15 rows

In [83]:
# Write the results to a single csv file
# Note the named output is a directory as opposed to the csv filename
# This is because Spark uses HDFS naming conventions for files
late_carrier_deliveries.coalesce(1).write.option("header", "true").csv("missed_shipping_limit_orders")